@font-face {
  font-family: "Abres";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/Abres-j9MaM.woff") format("woff");
  font-display: swap;
}

h1 {
  font-family: "Abres", system-ui, sans-serif;
  font-weight: 200;
  color: #f8f6f2;
}
